nav {
    background-color: #333;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #1e0b98;
}

h2 {
    color: #333;
}

#contacto {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f8f8;
}

#contacto h2 {
    color: #333;
}

#contacto p {
    color: #666;
    margin-bottom: 20px;
}

form {

    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#img {
    display: flex;
    max-width: 35%; 
     
}

#img img {
    width: 100%; 
    height: auto; 
}
